<div class="mt-4">
    <div class="row">
        {{#each Courses}}
        <div class="col-sm-6 col-lg-4">
                <div class="card card-course-item">
                    <a href="/khoa-hoc/{{this.slug}}"> <img class="card-img-top" src={{this.image}}>
                    </a>
                   
                    <div class="card-body">
                        <h4 class="card-title">{{this.description}}</h4>
                         <a href="/khoa-hoc/{{this.slug}}">   <h5 class="card-text">{{this.name}}</h5>
                    </a>
                      
                    </div>
                    <a href="" class="btn btn-primary">Mua Khóa học</a>
                </div>
        </div>
        {{/each}}
    </div>
</div>
